.fuenteRara {font-family: Ink free, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif}
.destacado {font-weight: bold;}
.colorTexto {color: #F59432 !important;}
.colorTexto1 {color: #364f59 !important;}
.largo {font-size: large;}
