.ListaAlumnos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    gap: 30px 40px;
    background-color: white;
     min-height: 25vh;
     align-items: top;
   }


   